<div class="card">
  <div class="card-header card-header-danger">
      <h4 class="card-title ">Raport Talepleri</h4>
      <p class="card-category">Raport Talepleri</p>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table">

              <thead class=" text-primary">
              <th>Isim</th>
              <th>Raport Tipi</th>
              <th>Durum</th>
              <th>Oluşturulma Tarihi</th>
              <th>Güncellenme Tarihi</th>
              </thead>

              <tbody>
              <tr *ngFor="let report of reportDemandList; let i = index">
                <td> {{ report.name }}</td>
                <td> {{ report.reportPeriodType }}</td>
                <td> {{ report.active ? "AKTIF" : "SONUÇLANDI"  }}</td>
                <td> {{ report.createdAt }} </td>
                <td> {{ report.lastModifiedDate }} </td>
                <td> <button class="btn btn-primary" (click)="onClickView(report.id)"> İncele </button> </td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
